/* Extend to fit entirety of page */
html {
  margin: 0;
  padding: 0;
}

/* 
* {
  font-family: /* IDK */


body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* -----------------START HOMEPAGE STYLING----------------- */
.primaryBtn {
  color: white;
  text-transform: uppercase;
  font-size: large;
  background: rgb(61, 61, 170); /* make gradient like tinders? */
  padding: 15px 30px;
  border-radius: 25px;
}

.primaryBtn {
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0.65) 0%,
    rgba(0,0,0,0) 100%
  )
}

/* -----------------END HOMEPAGE STYLING----------------- */


/* -----------------START NAVBAR STYLING----------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .logo-container .logo {
  width: 100%;
}

nav .navBtn {
  color: white;
  background-color: rgb(61, 61, 170);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px;
}

nav .navBtn:disabled {
  color: antiquewhite;
  background-color: rgb(16, 16, 87);
}
/* -----------------END NAVBAR STYLING----------------- */


/* -----------------START AuthBuild STYLING----------------- */
.authBuild {
  /* position: absolute; */
  top: 275px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  padding: 45px;
}

.authBuild .closeText {
  float: right;
}

.googleBtn {
  /* color: white;
  background: rgb(61, 61, 170);
  padding: 5px;
  width: 50%;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  text-decoration: none; */
  margin-left: auto;
  margin-right: auto;
  /* width: 300px; */
  height: 50px;
  background: rgb(61, 61, 170);
  border-radius: 15px;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 10px;

}

.secondaryBtn {
  color:white;
  background-color: rgb(61, 61, 170);
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  padding: 12px 30px;
  border-radius: 15px;
  border: solid 2px rbg(121,119,119);
  margin: 6px
}