/* Extend to fit entirety of page */
html {
  margin: 0;
  padding: 0;
}

/* 
* {
  font-family: /* IDK */


body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* -----------------START HOMEPAGE STYLING----------------- */
.primaryBtn {
  color: white;
  text-transform: uppercase;
  font-size: large;
  background: rgb(61, 61, 170); /* make gradient like tinders? */
  padding: 15px 30px;
  border-radius: 25px;
}

.primaryBtn {
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0.65) 000%,
    rgba(0,0,0,0) 100%
  ), url('images/animeCollage.jpg')
}
.primaryBtn:disabled {
  color: antiquewhite;
  background-color: rgb(16, 16, 87);
}

.primaryTagLine {
  font-size: 100px;
  color: rgba(244,213,137,255)
}
/* -----------------END HOMEPAGE STYLING----------------- */


/* -----------------START NAVBAR STYLING----------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 5px solid red */
}

nav .logoNavContainer {
  display: flex;
  flex-direction: row;
}

nav .logoContainer {
  width: 170px;
  margin: 15px;
}

nav .logoContainer .logo {
  width: 100%;
}

nav .navBtn {
  color: white;
  background-color: rgb(61, 61, 170);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px;
  justify-self: right;
}

nav .navBtn:disabled {
  color: antiquewhite;
  background-color: rgb(16, 16, 87);
}

nav .navItem {
  display: flex;
}

nav .navBar {
  display: flex;
  flex-direction: row;
  font-size: large;
  padding-left: 0px;
}

nav .navItem a{
  text-decoration: none;
  color: rgba(244,213,137,255);
  /* border: 1px solid red; */
  padding: 8px;
}
/* -----------------END NAVBAR STYLING----------------- */


/* -----------------START AuthBuild STYLING----------------- */
.authBuild {
  /* position: absolute; */
  top: 275px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  padding: 45px;
}

.authBuild .closeText {
  float: right;
}

.googleBtn {
  /* color: white;
  background: rgb(61, 61, 170);
  padding: 5px;
  width: 50%;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  text-decoration: none; */
  margin-left: auto;
  margin-right: auto;
  /* width: 300px; */
  height: 50px;
  background: rgb(61, 61, 170);
  border-radius: 15px;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 10px;

}

.secondaryBtn {
  color:white;
  background-color: rgb(61, 61, 170);
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  padding: 12px 30px;
  border-radius: 15px;
  border: solid 2px rbg(121,119,119);
  margin: 6px
}

.authBuild form {
  display: flex;
  flex-direction: column;
}
.authBuild input[type=email]
.authBuild input[type=password] {
  padding: 8px;
  margin: 8px;
  font-size: 20px;
}

/* -----------------END AUTHBUILD STYLING----------------- */

/* -----------------START SIGNUP PAGE STYLING----------------- */

.signup{
  border-top: solid 1px lightgrey;
}

.signup form {
  display: flex;
  justify-content: center;
}

.signup form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 33%;
  text-align: start;
}

.signup form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(211, 202, 202);
  border-radius: 15px;
}

.signup form input[type='number'] {
  width: 10%;
}

.signup form input::-webkit-outer-spin-button,
.signup form input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.signup form .birthdayInputContainer {
  display: flex;
  flex-direction: row;
}
.signup form .birthdayInputContainer input {
  margin-right: 10px;
}

.signup form input[type='submit']:hover {
  background-color:rgba(244,213,137,255) ;
}

.signup form input[type='submit']:active {
  background-color:rgba(161,48,111,255) ;
}

.signup form .photoContainer img{
  width: 100%
}

/* -----------------END SIGNUP PAGE STYLING----------------- */
