/* Extend to fit entirety of page */
html {
  margin: 0;
  padding: 0;
}

/* 
* {
  font-family: /* IDK */


body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* -----------------START HOMEPAGE STYLING----------------- */
.primaryBtn {
  color: white;
  text-transform: uppercase;
  font-size: large;
  background: rgb(61, 61, 170); /* make gradient like tinders? */
  padding: 15px 30px;
  border-radius: 25px;
}

.primaryBtn {
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0.65) 000%,
    rgba(0,0,0,0) 100%
  ), url('images/animeCollage.jpg')
}
.primaryBtn:disabled {
  color: antiquewhite;
  background-color: rgb(16, 16, 87);
}

.primaryTagLine {
  font-size: 100px;
  color: rgba(244,213,137,255)
}
/* -----------------END HOMEPAGE STYLING----------------- */


/* -----------------START NAVBAR STYLING----------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 5px solid red */
}

nav .logoNavContainer {
  display: flex;
  flex-direction: row;
}

nav .logoContainer {
  width: 170px;
  margin: 15px;
}

nav .logoContainer .logo {
  width: 100%;
}

nav .navBtn {
  color: white;
  background-color: rgb(61, 61, 170);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px;
  justify-self: right;
}

nav .navBtn:disabled {
  color: antiquewhite;
  background-color: rgb(16, 16, 87);
}

nav .navItem {
  display: flex;
}

nav .navBar {
  display: flex;
  flex-direction: row;
  font-size: large;
  padding-left: 0px;
}

nav .navItem a{
  text-decoration: none;
  color: rgba(244,213,137,255);
  /* border: 1px solid red; */
  padding: 8px;
}
/* -----------------END NAVBAR STYLING----------------- */


/* -----------------START AuthBuild STYLING----------------- */
.authBuild {
  /* position: absolute; */
  top: 275px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  padding: 45px;
}

.authBuild .closeText {
  float: right;
}

.googleBtn {
  /* color: white;
  background: rgb(61, 61, 170);
  padding: 5px;
  width: 50%;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  text-decoration: none; */
  margin-left: auto;
  margin-right: auto;
  /* width: 300px; */
  height: 50px;
  background: rgb(61, 61, 170);
  border-radius: 15px;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 10px;

}

.secondaryBtn {
  color:white;
  background-color: rgb(61, 61, 170);
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  padding: 12px 30px;
  border-radius: 15px;
  border: solid 2px rbg(121,119,119);
  margin: 6px
}

.authBuild form {
  display: flex;
  flex-direction: column;
}
.authBuild input[type=email]
.authBuild input[type=password] {
  padding: 8px;
  margin: 8px;
  font-size: 20px;
}

/* -----------------END AUTHBUILD STYLING----------------- */


/* -----------------START CHAT STYLING----------------- */
.Room {
  max-width: 300px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #d03684;
  outline: 2px solid #fad37d;
  border-radius: 15px;
  vertical-align: middle;
  margin-top: 8%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  
  position: relative;
  
  /* box-shadow: 0 0 0 5px hsla(333, 72%, 42%, 0.937); */
}


.joinChat {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.joinChatExtra {
  margin-bottom: 10%;
}

.btn {
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 15px;
}

/* .chat-body {
  height: 400px;
} */

.chat-window {
  height: 400px;
  
  /* overflow-anchor: none; */
}

/* .message-container {
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  display: flex; 
  flex-direction: column;
  scroll-snap-align: end;
} */



.message {
  padding: 10px;
  display: flex;
  height: auto;
  margin-bottom: 10px;
}

.message-content {
  overflow-wrap: break-word;
  word-break: break-word;
  
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
  background-color: #fad37d;
  border-radius: 5px;
}

#you .message-data {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: grey;
  border-radius: 5px;
}

#other .message-data {
  justify-content: flex-start;
  margin-right: 5px;
}

.chat-footer {
  margin-bottom: 15px;
  scroll-snap-align: end;
}

.text-input {
  height: 25px;
  width: 200px;
}

.message-button {
  background-color: black;
  color: white;
  height: 30px;
}

.room-id {
  font-size: small;
  color: grey;
}

.message-data {
  display: flex;
  color: grey;
  font-size: 12px;
}

#author {
  margin-right: 7px
}

/* -----------------END CHAT STYLING----------------- */